.App {
  text-align: center;
  background-color: #252525;
  height: 100vh;
}

* {
  color: white;
}

form>div {
  margin: 10px;
}

.albumsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.myCard {
  background-color: #585858 !important;
  margin: 10px;
}

.mySubtitle {
  color: #b1b1b1;
}

.albumForm {
  background-color: #585858;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.myButton {
  color: white;
  background-color: #585858;
  border: none;
}

.myIcon {
  margin: 10px;
}

.myLink {
  color: #acacac !important;
}

.myLink:hover {
  color: white !important;
}